body {
  overflow: hidden;
}

#sky {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 30vh;
  left: 0;
  background-color: black;
}

#trees {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: flex-end;
}

.pine-tree {
  display: grid;
  align-content: end;
  height: 30vh;
  flex: 1;
  transform-origin: bottom center;

  svg {
    max-height: 30vh;
    min-height: auto;
    max-width: 100%;
    margin: 0 auto;
  }

  .pine-trunk {
    stroke: saddlebrown;
    stroke-width: 1px;
  }
  
  .pine-needle {
    stroke: darkgreen;
    fill: none;
    stroke-width: 1px;
  }
  .snow-needle {
    stroke: white;
    stroke-width: 1px;
  }
}